<div class="container">
  <div class="home-content">
  	<h1>Home Page</h1>
    <p>The purpose of this "website" is to review all the importants stuff that I need to build a website</p>
  </div>
  <%= link_to "Starting with settings", settings_path %>
</div>